---
import FormLayout from "@/layouts/FormLayout.astro";
---

<FormLayout title="Timely |404: No Encontrado">
  <section
    class="bg-white text-gray-800 min-h-screen flex flex-col items-center justify-center gap-6 p-6"
  >
    <p class="text-red-400 font-bold text-6xl">404</p>
    <p class="text-xl md:text-2xl text-gray-600 mb-8 text-center max-w-xl px-4">
      ¡Oops! La página que buscas no existe o ha sido movida.
    </p>
    <a
      href="/"
      class="bg-blue-400 p-4 py-2 text-white rounded-lg shadow-xl hover:bg-red-400 hover:scale-105 transform transition-all duration-200 text-lg md:text-xl font-semibold"
    >
      Volver a Inicio
    </a>
  </section>
</FormLayout>
