---
import FormLayout from "@/layouts/FormLayout.astro";
import FormContainer from "@/components/FormContainer.astro";

interface Props {
  title: string;
}

const { title = "Timely | Restablecer Contraseña" } = Astro.props;
const email = Astro.cookies.get("email")?.value ?? "";
---

<FormLayout {title}>
  <FormContainer title={"Restablecer Contraseña"}>
    <form id="reset-password-form" class="mt-6 space-y-6">
      <!-- Email Input -->
      <input
        type="email"
        placeholder="Correo electrónico"
        name="email"
        value={email}
        class="w-full h-12 bg-gray-100 rounded-xl shadow-md placeholder-gray-500 focus:bg-blue-100 focus:outline-none px-4"
        required
      />

      <!-- Submit Button -->

      <button
        type="submit"
        id="btn-submit"
        class="relative font-medium py-2 text-gray-100 hover:text-white transition group"
      >
        <div
          class="absolute inset-0 transform rounded-xl bg-red-400 transition-transform duration-300 group-hover:translate-x-1 group-hover:rotate-3"
        >
        </div>
        <div
          class="absolute inset-0 transform rounded-xl bg-blue-400 transition-transform duration-300 group-hover:-translate-x-1 group-hover:-rotate-3"
        >
        </div>
        <span class="relative z-10 px-4 py-2 block">
          Enviar Correo de Restablecimiento
        </span>
      </button>

      <!-- Back to Login Link -->
      <div class="text-center text-sm text-gray-600">
        <a href="/" class="text-blue-500 hover:underline"
          >Regresar a Iniciar Sesión</a
        >
      </div>
    </form>
  </FormContainer>
</FormLayout>

<script>
  "astro:load";

  import Swal from "sweetalert2";
  import { actions } from "astro:actions";

  document.addEventListener("astro:page-load", () => {
    formResetPasswordLogic();
  });

  const formResetPasswordLogic = () => {
    const $form = document.querySelector(
      "#reset-password-form"
    ) as HTMLFormElement;
    $form.addEventListener("submit", async (event) => {
      event.preventDefault();

      const formData = new FormData($form);

      try {
        // Llama a la acción para enviar el correo de restablecimiento de contraseña
        const { data, error } = await actions.resetPassword(formData);

        if (error) {
          throw new Error(error.message);
        }

        Swal.fire({
          icon: "success",
          title: "Correo Enviado",
          text: data.message,
        });

        // Redirige al usuario a la página de inicio de sesión

        setTimeout(() => {
          window.location.href = "/login";
        }, 3000);
      } catch (error: any) {
        Swal.fire({
          icon: "error",
          title: "Error",
          text: error.message,
        });
      }
    });
  };
</script>
