---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .animate {
    opacity: 0;
    transform: translateY(50px);
    transition:
      opacity 0.6s ease,
      transform 0.6s ease;
  }

  .animate.show {
    opacity: 1;
    transform: translateY(0);
  }

  article img {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const form = document.querySelector(".animate") as HTMLElement;
    form.classList.add("show");
  });
</script>
