---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '@/styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="w-full flex flex-col items-center">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script>
  document.addEventListener("astro:page-load", () => {
    const $elements = document.querySelectorAll(
      ".animate"
    ) as NodeListOf<HTMLElement>;
    $elements.forEach(($element) => {
      $element.classList.add("show");
    });

    const $fadeUpElements = document.querySelectorAll(
      ".fade-up"
    ) as NodeListOf<HTMLElement>;
    $fadeUpElements.forEach(($element) => {
      $element.classList.add("show");
    });
  });
</script>
